.collection-analysis-content {
  @include fade-up;
}

// About the Collection Section
.collection-details-section {
  @include genesis-environment('focused');
  @include genesis-atmosphere('neutral');
}

.analysis-heading {
  @include genesis-cognition('axiom');
}

.themes-section-heading,
.form-section-heading {
  @include genesis-cognition('motive');
}

.analysis-narrative {
  @include genesis-cognition('discourse');
}

.analysis-paragraph,
.form-description {
  @include genesis-cognition('discourse');
}

.thematic-elements-list {
  @include genesis-entity('aggregate');
}

.theme-item {
  @include genesis-entity('secondary');
  
  strong {
    @include genesis-cognition('quantum');
  }
}
