// Celestial Mentors Section
.literary-influences-showcase {
  @include genesis-environment('distributed');
  @include genesis-atmosphere('ethereal');
}

.influences-section-title {
  @include genesis-cognition('axiom');
}

.influences-description {
  @include genesis-cognition('motive');
}

.mentors-showcase-grid {
  @include genesis-environment('distributed');
}

.mentor-influence-card {
  @include genesis-entity('primary');
  @include fade-up;
}

.mentor-name {
  @include genesis-cognition('motive');
}

.mentor-literary-role {
  @include genesis-cognition('gloss');
}

.mentor-contribution {
  @include genesis-cognition('discourse');
}

.collection-header {
  @include fade-up;
}