// Link styles for poem cards
.individual-poem-card-link {
  @include genesis-synapse('navigate');
}

// Poetry collection showcase styles
.poetry-collection-showcase {
  @include genesis-environment('distributed');
  @include genesis-atmosphere('void');
}

.collection-header {
  @include fade-up;
}

.poetic-movement {
  @include fade-up;
  @include genesis-entity('aggregate');
}

.movement-heading {
  @include genesis-cognition('axiom');
}

.poem-cards-grid {
  @include genesis-environment('distributed');
}

.individual-poem-card {
  @include genesis-entity('primary');
  @include genesis-state('stable');
}

.poem-title {
  @include genesis-cognition('motive');
}

.poem-opening-line {
  @include genesis-cognition('discourse');
}
